body {
  background: #000;
}

#wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#wrap:hover > div {
    opacity:0.6;
    cursor: pointer;
}

#wrap > div:hover {
   opacity:1;
}

#wrap .column {
  float: left;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#wrap .column.active {
  width: 34%;
}

#wrap .column.nonactive {
  width: 22%;
}

.starworld-img {
  height: 100%;
  background: url("../images/front/starworld.jpg") no-repeat center center;
}


.mordor-img {
  height: 100%;
  background: url("../images/front/mordor.jpg") no-repeat center center;
}

.pandora-img {
  height: 100%;
  background: url("../images/front/pandora.jpg") no-repeat center center;
}

.vote-img {
  height: 100%;
  background: url("../images/front/atlantis.jpg") no-repeat center center;
}

.world-svg {
    padding: 4em;
}

.world-svg img {
    padding-top: 20em;
}



/*CSS FOR MOBILE*/
#mobile-version {
    padding: 0;
    height:100vh;
}

.mobile-world {
    height:25%;
}




